<!DOCTYPE html>

<html lang="es">
<head>

  {{> head}}

</head>

<body>

  <!-- More html -->

  <div class="nav">
    {{> nav}}
  </div>

  <div class="content">
    {{> budget-calculator}}
  </div>

  <!-- More html -->
</body>
</html>
